# Ignorar todo por defecto
*

# Permitir directorios (necesario para navegar la estructura)
!*/

# Permitir archivos específicos
!*.py
!*.ipynb
!*.tex
!*.png

# Permitir archivos de configuración del proyecto
!.gitignore
!README.md
!environment.yml
!tarea3.pdf